<h1>Top Movies Downloads Right Now</h1>

<%
results.titles.forEach(function(title){  %>


    <ul class="browse">
        <a href="<%= 'browseExpand/' + title %>"> <li><h2><%= title %></h2></li></a>
    </ul>

   <% }) %>