<h1>RESULTS PAGE</h1>

<% if (results[0]) { %>

    <% results.forEach(function(result) { %>

        <%
        if(result.Poster !== 'N/A'){
            var pic = result.Poster;
            %>

        <a href="<%='expandedResult/' + result.imdbID%>">
            <img src="<%= pic %>">
        </a>
        <%}%>

    <% });  %>



<% } else { %>
<h1>No results found for your search term</h1>

<% } %>